<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.orf">
<head>
    <meta charset="UTF-8">
    <title>Обновить пользователя</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/people/{id}(id=${person.getId()})}" th:object="${person}">
    <label for="name"> Enter name </label>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
    <input type="text" th:field="*{name}" id="name"/>
    <label for="age"> Enter age </label>
    <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Email Error</div>
    <input type="number" th:field="*{age}" id="age"/>
    <label for="email"> Enter email </label>
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>
    <input type="email" th:field="*{email}" id="email"/>
    <label for="address"> Enter address </label>
    <div style="color:red" th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Address Error</div>
    <input type="text" th:field="*{address}" id="address"/>
    <br>
    <input type="submit" value="Обновить"/>
</form>
</body>
</html>